html, body {
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	background: #f0f0f0;
  padding: 0;
  margin: 0;
  overflow: auto; /* when page gets too small */
}

#container {
	width: 100%;
  height: 100%;
  margin: -1px auto;
  background: #fff;
  min-width:600px;
  _width:600px; /* min-width for IE6 */boot/
}

#footer
{
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#nav-sidebar
{
	border-top: 1px solid #C9E0ED;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

.pane {
  display:  none; /* will appear when layout inits */
}

.profile-btn {
  color: #08C;
  cursor: pointer;
  padding: 4px;
  font-size: 14px;
  border-radius: 4px;
}

.profile-btn:after {
  font-family: Consolas, Courier New, Arial, sans-serif;
  content: '↓';
  margin-left: 6px;
  color: #08C;
}

.profile-btn:hover {
  background: #F2F2F2;
}

.profile-btn.dropdown-open {
  background: #888;
  color: #FFF;
}

.profile-btn.dropdown-open:after {
  color: #FFF;
}

.header-bg {
  background-image: url(/images/bg.png);
  background-repeat: repeat-x;
}

